<!doctype html>

{% include 'header.html'%}

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
  <div class="container">
      {%include "navbar.html"%}
    
    <div>
      <h3 class="mt-4">Huisregels</h3>
      <p>Om de nacht eerlijk en gezellig te kunnen laten verlopen hebben we een paar huisregels opgesteld.  We willen jullie vragen om je hier a.u.b. aan te houden:</p>
      <ul>
        <li>Op de gang blijven.</li>
        <li>De kamerdeuren blijven open (met uitzondering van het eerste uur).</li>
        <li>Er mag binnen niet gerookt worden.</li>
        <li>Er staat eten en drinken in de gang, dit mag meegenomen worden naar de kamers.</li>
        <li>De kamers zijn werkkamers van onze collega’s dus houdt het netjes.</li>
        <li>Er mag niet gecommuniceerd worden over de opgaven tussen de teams onderling.</li>
        <li>Er mag niet gecommuniceerd worden met de buitenwereld gedurende de nacht (zoals bijvoorbeeld internet, telefoon/smartphone) op straffe van diskwalificatie. </li>
        <li>De memorystick met antwoorden moet vrijdag voor 09:30 ingeleverd zijn bij de organisatie.</li>
        <li>In verband met de brandveiligheid mogen er geen spullen op de gang achtergelaten worden. Zorg dat al je spullen in de kamer van je team liggen.</li>
        <li>Er worden foto’s gemaakt voor promotiedoeleinden, mocht je hier pertinent niet op willen voorkomen, dan kun je dat aangeven bij de organisatie.</li>
      </ul>
      <h3 class="mt-4">
        Tijdsplanning
      </h3>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Tijd</th>
      <th scope="col">Gebeurtenis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">21:00</th>
      <td>Start wedstrijd</td>
    </tr>
    <tr>
      <th scope="row">21:30-23:00</th>
      <td>Interviews TripAdvisor</td>
    </tr>
    <tr>
      <th scope="row">23:45</th>
      <td>Inleveren vragen voor vragen halfuurtje</td>
    </tr>
    
    <tr>
      <th scope="row">00:00</th>
      <td>Vragen halfuurtje</td>
    </tr>
    
    <tr>
      <th scope="row">01:30</th>
      <td>Deadline: containers stapelen ronde 1</td>
    </tr>
    <tr>
      <th scope="row">02:00</th>
      <td>Samenkomen: resultaten containers stapelen</td>
    </tr>
    
    
    <tr>
      <th scope="row">05:30</th>
      <td>Deadline: containers stapelen ronde 2</td>
    </tr>
    <tr>
      <th scope="row">06:00</th>
      <td>Samenkomen: resultaten containers stapelen</td>
    </tr>
    
    <tr>
      <th scope="row">07:30-9:10</th>
      <td>Presentaties TripAdvisor</td>
    </tr>

    
    <tr>
      <th scope="row">09:30</th>
      <td>Deadline: containers stapelen, Beste planner, bier brouwen</td>
    </tr>

    
    <tr>
      <th scope="row">10:00</th>
      <td>Brunch bij "De Verlenging"</td>
    </tr>
    <tr>
      <th scope="row">11:00</th>
      <td>Sluitingsceremonie</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
	
</body>